/*
*  Topbar styles
*/
.topbar {
  position: fixed;
  top: 0;
  width: 100vw;
  height: $topbar-height;
  background-color: $white;
  box-shadow: $base-shadow;
  z-index: 99;
}

.topbar-container {
  margin: 0 auto;
  height: 100%;
  max-width: $container-width;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topbar__back {
  position: absolute;
  left: 0;
  height: $back-button-size;
}

.topbar__avatar {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: $user-avatar-size;
  height: $user-avatar-size;
  border-radius: 50%;
  padding: 0;
  background: none;
  text-decoration: none;
  border: none;
  outline: none;
}

.topbar__avatar:hover {
  filter: brightness(85%);
}

.topbar__back__icon {
  font-size: $back-button-size;
  color: $primary-color;
  transition: transform .15s;

  &:hover {
    opacity: 0.8;
  }
}

.topbar__back__icon:active {
  transform: scale(1.1);
}

.topbar__logo {
  line-height: 0;

  &:hover {
    opacity: 0.8;
  }
}

/*
*  TopbarMenu styles
*/
.topbar-menu {
  position: absolute;
  background: $white;
  padding: 8px;
  right: 2px;
  top: 74px;
  width: 200px;
  border-radius: 4px;
  box-shadow: $very-strong-shadow;
  text-align: center;
  transition: transform 0.1s;

  &:after {
    content: '';
    bottom: 100%;
    right: 5%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: $white;
    border-width: 8px;
    margin-left: -8px;
  }
}

.topbar-menu__fullname {
  color: $dark-font-color;
  font-weight: 500;
  margin-top: 4px;
  margin-bottom: 0;
}

.topbar-menu__username {
  color: $dark-font-color;
  margin-top: 4px;
  margin-bottom: 8px;
  padding-bottom: 8px;
  font-size: 0.75rem;
  border-bottom: 1px solid $gray;
}

.topbar-menu__button {
  position: relative;
  width: 100%;
  height: 32px;
  background: $white;
  color: $primary-color;
  font-weight: 700;
  outline: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: transform 0.15s;

  &:hover {
    background: $light-gray;
  }

  &:active {
    transform: scale(1.05);
  }
}
